!!!
%html
  %head
    %title= current_page.data.title || data.settings.meta.title
    %meta{ :charset => "utf-8" }
    = stylesheet_link_tag "main"
  %body{:"data-slug" => current_page.data.slug}
    %nav 
      %ul 
        %li 
          = link_to 'Home', 'index.html'
        %li 
          = link_to 'About', 'about.html'
    = yield
    = javascript_include_tag  "bundle"